
@{
    ViewBag.Title = "Home";
}

<h2>Bienvenido Cliente</h2>
<p>Seleccione alguna opcion</p>

@Html.ActionLink("Reportar Accidente", "Create", "Reporte")
@Html.ActionLink("Solicitar Asesoria Especial", "Create", "Asesoria")